[submodule "website"]
	path = website
	url = git@github.com:ruska-ai/website.git
[submodule "cli"]
	path = cli
	url = git@github.com:ruska-ai/ruska-cli.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:ruska-ai/wiki.git
[submodule "sandboxes"]
	path = sandboxes
	url = git@github.com:ruska-ai/sandboxes.git
