**/.env*
**/logs
**/tests
**/seeds
**/sandbox
**/scripts
**/langgraph.json
**.dockerignore
**.cursorignore
**/vscode
**Dockerfile
**/requirements-dev.txt
.example.env
**/.venv/
Makefile
**/.vscode
**/.pytest_cache/
**.cursor*
**/__pycache__/
**/logs/