#########################################################
## Application Config
#########################################################
APP_ENV=development
APP_LOG_LEVEL="DEBUG"
APP_SECRET_KEY=""
JWT_SECRET_KEY=""
USER_AGENT="ruska-dev"
TEST_USER_ID=00000000-0000-0000-0000-000000000000

#########################################################
## Database Secrets
#########################################################
POSTGRES_CONNECTION_STRING="postgresql://admin:test1234@localhost:5432/ruska_dev?sslmode=disable"

#########################################################
## AI Providers (Model Secrets)
#########################################################
OPENAI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
XAI_API_KEY=
OLLAMA_BASE_URL=

#########################################################
## Tool (Secretes and Config used by Agent Tools)
#########################################################
SEARX_SEARCH_HOST_URL="http://localhost:8080"
SHELL_EXEC_SERVER_URL="http://localhost:3005/exec"
TAVILY_API_KEY=

#########################################################
## Services (Enabled via docker containers)
#########################################################
## (Alpha)
# PRESIDIO_ANALYZE_HOST=http://localhost:5002
# PRESIDIO_ANONYMIZE_HOST=http://localhost:5001
# PRESIDIO_API_KEY=

#########################################################
## Storage (Where images and other files can be stored)
#########################################################
MINIO_HOST=
S3_REGION=
ACCESS_KEY_ID=
ACCESS_SECRET_KEY=
BUCKET=ruska_dev

#########################################################
## Distributed Workers (TaskIQ)
#########################################################
REDIS_URL=redis://localhost:6379/0
DISTRIBUTED_WORKERS=false